html  {
  font-family: Helvetica;
}

h1 {
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-algin: center;
  background-image: image(./resources/images/pattern.jpg);
}

h2 {
  font-size: 32px;
  font-weight: bold;
  color: white;
}

.greenbackground {
  background-color: mediumspringgreen;
}

.redbackground {
  background-color: lightcoral;
}

.bluebackground {
  background-color: skyblue;
}

.blue {
  font-weight: bold;
  color: blue;
}
